.title {
  align-items: center;
  color: #222222;
  display: flex;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  height: 40px;
  line-height: 32px;
}

.result {
  align-items: flex-start;
  color: #222222;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  line-height: 17px;
  padding-top: 4px;
  width: 506px;
}

.back {
  align-items: center;
  display: flex;
  font-family: Nunito;
  padding-top: 616px;

  &__text {
    color: #222222;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-left: 19px;
    width: 93px;
  }

  &__icon {
    cursor: pointer;
    height: 16px;
    width: 9px;
  }
}
