.title {
  align-items: center;
  color: #222222;
  display: flex;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  height: 40px;
  line-height: 32px;
}

.search {
  font-family: Roboto;
  margin-top: 40px;
  position: relative;

  &__icon {
    color: #222222;
    height: 14px;
    left: 13px;
    position: absolute;
    top: 15px;
    width: 13px;
  }

  &__tests {
    color: #d1d1d1;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 16.5px;
    top: 15px;
  }

  &__input {
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    box-sizing: border-box;
    height: 45px;
    margin-bottom: 30px;
    outline: none;
    padding-left: 37px;
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #474747;

    &::placeholder {
      color: #d1d1d1;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.notFounded {
  left: 66px;
  position: relative;
  top: 114px;

  &__result {
    align-items: center;
    display: flex;
    height: 70px;
    padding-bottom: 37px;
  }

  &__text {
    color: #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    width: 810px;
  }

  &__reset-button {
    background: #2ee5ac;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    left: 357px;
    line-height: 15px;
    outline: none;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    width: 95px;

    &:hover {
      background-color: #32bd91;
    }
  }
}
